lerobot/.git_backup/
logs_smolvla/
smolvla_install.log

/openvla-7b+cobot_magic_sber+b4+lr-0.0005+lora-r32+dropout-0.0--image_aug--full--ddp4-gpu0123--3cam--film--chunk24--joints14--lora8--h2048--fastloader--20000_chkpt/

Being-H/.git_backup/
