__pycache__/
*.py[cod]
*.so
*.egg-info/

.env
.venv/
env/
venv/

outputs/
logs/
results/
work_dirs/
local_debug/
wandb/
swanlog/

*.log
*.tmp
*.temp
*.bak
*.backup

lerobot/datasets/
/datasets/
*.parquet
*.mp4
*.safetensors
*.bin
*.pt
*.pth
*.ckpt

.DS_Store
.idea/
.vscode/
